.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #4f46e5; /* Indigo color for active page */
    color: white;
    border-color: #4f46e5;
  }
  
  /* Optional: Apply consistent padding across all cells */
/* table th, table td {
    padding: 8px;
  } */

  /* Make the Navbar and EconomicMonitorBar full width
.w-full {
    width: 100%;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  .w-full {
    width: 100%;
  }
  
  .h-full {
    height: 100vh;
  }
  
  .flex-1 {
    flex: 1;
  }
   */